html
  head
    title Swing
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="UTF-8")
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/materialdesignicons.min.css")
    script(src="../../desktop.js")
    script(src="http://localhost:35729/livereload.js")
   body
    header
      nav
        ul
          li
            a(href="#")
              i.mdi.mdi-plus 
              | Add Server
