html
  head
    meta(charset="UTF-8")
    meta(name="fragment" content="!")
    meta(name="viewport", content="width=device-width,initial-scale=1") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Swing
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/materialdesignicons.min.css")
    script(src="../../desktop.js")
    script(src="http://localhost:35729/livereload.js")
  body
  
