doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="fragment" content="!")
    meta(name="viewport", content="width=device-width,initial-scale=1") 
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Swing
    link(rel="stylesheet", href="../css/style.css")
    link(rel="stylesheet", href="../css/materialdesignicons.min.css")
    script(src="../../desktop.js")
    script(src="http://localhost:35729/livereload.js")
  body
    aside
        nav.nav
            div.nav-items
                i.mdi.mdi-server
            div.nav-items
                i.mdi.mdi-server-plus
    main
        section
            - var i = 0
            while i < 6
              - i++
              article.server
                  i.mdi.mdi-ubuntu.server-os
                  span.server-name georgous-summer #1 Forge Web server
                  span.server-ip (192.168.17.21)
