/*
* SIDEBAR
*/

aside
    display block
    width 400px
    height 100%
    background-color #f7f7f7
    margin 0
    padding 0
    overflow auto
    
    ul
      padding 0
      display block
      
    //SIDEBAR ITEM
    li
      display block
      height 60px
      overflow hidden
      position relative
      font-family: "Monsterrat Regular", sans-serif
      cursor pointer
      &:hover
        .hover
            transform translateX(0%)
      
      
    .hover
        display flex
        flex-wrap nowrap
        flex-direction row
        align-items center
        justify-content flex-start
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        transform translateX(-100%)
        transition transform 0.4s ease-in-out
        background-color #f7f7f7
        z-index 10
        
        .server-icon
            font-size 3em
            margin-right 10px
            padding-left 5px
        .server-info
            display flex
            fley-direction row
            flex-wrap wrap
            justify-content flex-start
            align-items fley-start
            flex 1
            font-size 12px
        .server-host
        .server-lastReboot
            flex 1 1 50%
            padding-bottom 4px
        
    .server-state
        position relative
        display flex
        height 100%
        padding 5px 50px 5px 20px
        justify-content flex-start
        align-items center
        z-index 9
        &.up
            &:after
                background-color MediumSeaGreen 
        &:after
            content ''
            position absolute
            background-color tomato
            display block
            width 10px
            height 10px
            top 50% 
            right 20px
            transform translateY(-50%)
            border-radius 50%
        
    .server-name
        font-family: "Monsterrat Bold", sans-serif
    
    .server-ip
        font-size: 12px
        padding-left 5px
        color #aaa
  
